body {
  font-family: "Bebas Neue", sans-serif !important;
}

.bg-brow {
  background: #9c835f;
  display: flex;
  min-height: 100vh;
}

.play-game-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  color: #f9b23d;
}

.play-game-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.play-game-vs {
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 196px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #bd0000;
}

.play-game-result {
  color: #fff;
  background: #4c9654;
  border-radius: 10px;
  width: 271.11px;
  height: 166.93px;
  text-align: center;
  transform: rotate(-28.87deg);
}

.play-game-result.draw {
  background: #035b0c;
}

.play-game-result > span.result-text {
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  /* transform: rotate(-30.98deg); */
}

/* .play-game-icon-bg {
  width: 223px;
  height: 204px;
  left: 334px;
  top: 671px;

  background: #c4c4c4;
  border-radius: 30px;
} */
.btn {
  border-radius: 30px !important;
}
.btn-play-game {
  background-color: transparent;
  border-radius: 30px;
  width: 223px;
  height: 204px;
}

.btn-play-game:hover {
  background: #c4c4c4;
  border-radius: 30px;
}

.btn-play-game:active,
.btn-play-game:focus {
  background: #c4c4c4;
  border-radius: 30px;
}

.btn-play-game.active {
  background: #c4c4c4;
  border-radius: 30px;
}

.play-game-icon-size {
  width: 115px;
  height: 150px;
}

.refresh {
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  cursor: pointer;
}

.refresh-rotate {
  overflow: hidden;
  transition-duration: 1s;
  transition-property: transform;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.modal-header {
  border-bottom: 1px solid #212529 !important;
}

.modal-footer {
  border-top: 1px solid #212529 !important;
}

@media only screen and (max-width: 600px) {
  .title-game {
    text-align: center !important;
  }
}
